.watch{
    display: flex ;
    margin-top: 56px;
    user-select: none;
}
.video{
    video{
        width: 100%;
        border-radius: 12px;
        user-select: none;
    }
}
.videolienquan .anhvideo{
    margin-right: 8px;
}
.videolienquan .anhvideo img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 12px;
}