<div class="watch">
    <div id="1" style="margin-left: 24px; padding-top: 24px; padding-right: 24px;">
        <div class="video">
            <!-- <video src="assets/videotest/ctctl.mp4" autoplay  muted> </video> -->
            <video src="assets/videotest/baab.mp4" autoplay  muted> </video>
        </div>
    </div>
    <div id="2" style="padding-top: 24px; padding-right: 24px;">
        <div class="d-flex mb-2 videolienquan">
            <div class="anhvideo">
                <img alt="" style="background-color: transparent;" class="yt-core-image yt-core-image--fill-parent-height yt-core-image--fill-parent-width yt-core-image--content-mode-scale-aspect-fill yt-core-image--loaded" src="https://i.ytimg.com/vi/HXkh7EOqcQ4/hqdefault.jpg?sqp=-oaymwEbCKgBEF5IVfKriqkDDggBFQAAiEIYAXABwAEG&amp;rs=AOn4CLCRIs6eFLuBLQ7wdhSsnQw2C3txvA">
            </div>
            <div class="thongtinvideo">
                <div class="tieude">
                    <a href="/watch?v=HJENHdKTEd8">Tổng hợp những bản nhạc EDM gây nghiện</a>
                </div>
                <div style="font-size: 12px; color: #858585;">
                    <span>HIEU DOLCE</span>
                </div>
                <div style="font-size: 14px; color: #818181;">
                    <span>12 Tr lượt xem</span>
                    &bull;
                    <span>5 tháng trước</span>
                </div>
            </div>
        </div>
        <div class="d-flex mb-2 videolienquan">
            <div class="anhvideo">
                <img alt="" style="background-color: transparent;" class="yt-core-image yt-core-image--fill-parent-height yt-core-image--fill-parent-width yt-core-image--content-mode-scale-aspect-fill yt-core-image--loaded" src="https://i.ytimg.com/vi/HXkh7EOqcQ4/hqdefault.jpg?sqp=-oaymwEbCKgBEF5IVfKriqkDDggBFQAAiEIYAXABwAEG&amp;rs=AOn4CLCRIs6eFLuBLQ7wdhSsnQw2C3txvA">
            </div>
            <div class="thongtinvideo">
                <div class="tieude">
                    <a href="/watch?v=HJENHdKTEd8">Tổng hợp những bản nhạc EDM gây nghiện</a>
                </div>
                <div style="font-size: 12px; color: #858585;">
                    <span>HIEU DOLCE</span>
                </div>
                <div style="font-size: 14px; color: #818181;">
                    <span>12 Tr lượt xem</span>
                    &bull;
                    <span>5 tháng trước</span>
                </div>
            </div>
        </div>
        <div class="d-flex mb-2 videolienquan">
            <div class="anhvideo">
                <img alt="" style="background-color: transparent;" class="yt-core-image yt-core-image--fill-parent-height yt-core-image--fill-parent-width yt-core-image--content-mode-scale-aspect-fill yt-core-image--loaded" src="https://i.ytimg.com/vi/HXkh7EOqcQ4/hqdefault.jpg?sqp=-oaymwEbCKgBEF5IVfKriqkDDggBFQAAiEIYAXABwAEG&amp;rs=AOn4CLCRIs6eFLuBLQ7wdhSsnQw2C3txvA">
            </div>
            <div class="thongtinvideo">
                <div class="tieude">
                    <a href="/watch?v=HJENHdKTEd8">Tổng hợp những bản nhạc EDM gây nghiện</a>
                </div>
                <div style="font-size: 12px; color: #858585;">
                    <span>HIEU DOLCE</span>
                </div>
                <div style="font-size: 14px; color: #818181;">
                    <span>12 Tr lượt xem</span>
                    &bull;
                    <span>5 tháng trước</span>
                </div>
            </div>
        </div>
        <div class="d-flex mb-2 videolienquan">
            <div class="anhvideo">
                <img alt="" style="background-color: transparent;" class="yt-core-image yt-core-image--fill-parent-height yt-core-image--fill-parent-width yt-core-image--content-mode-scale-aspect-fill yt-core-image--loaded" src="https://i.ytimg.com/vi/HXkh7EOqcQ4/hqdefault.jpg?sqp=-oaymwEbCKgBEF5IVfKriqkDDggBFQAAiEIYAXABwAEG&amp;rs=AOn4CLCRIs6eFLuBLQ7wdhSsnQw2C3txvA">
            </div>
            <div class="thongtinvideo">
                <div class="tieude">
                    <a href="/watch?v=HJENHdKTEd8">Tổng hợp những bản nhạc EDM gây nghiện</a>
                </div>
                <div style="font-size: 12px; color: #858585;">
                    <span>HIEU DOLCE</span>
                </div>
                <div style="font-size: 14px; color: #818181;">
                    <span>12 Tr lượt xem</span>
                    &bull;
                    <span>5 tháng trước</span>
                </div>
            </div>
        </div>
        <div class="d-flex mb-2 videolienquan">
            <div class="anhvideo">
                <img alt="" style="background-color: transparent;" class="yt-core-image yt-core-image--fill-parent-height yt-core-image--fill-parent-width yt-core-image--content-mode-scale-aspect-fill yt-core-image--loaded" src="https://i.ytimg.com/vi/HXkh7EOqcQ4/hqdefault.jpg?sqp=-oaymwEbCKgBEF5IVfKriqkDDggBFQAAiEIYAXABwAEG&amp;rs=AOn4CLCRIs6eFLuBLQ7wdhSsnQw2C3txvA">
            </div>
            <div class="thongtinvideo">
                <div class="tieude">
                    <a href="/watch?v=HJENHdKTEd8">Tổng hợp những bản nhạc EDM gây nghiện</a>
                </div>
                <div style="font-size: 12px; color: #858585;">
                    <span>HIEU DOLCE</span>
                </div>
                <div style="font-size: 14px; color: #818181;">
                    <span>12 Tr lượt xem</span>
                    &bull;
                    <span>5 tháng trước</span>
                </div>
            </div>
        </div>
        <div class="d-flex mb-2 videolienquan">
            <div class="anhvideo">
                <img alt="" style="background-color: transparent;" class="yt-core-image yt-core-image--fill-parent-height yt-core-image--fill-parent-width yt-core-image--content-mode-scale-aspect-fill yt-core-image--loaded" src="https://i.ytimg.com/vi/HXkh7EOqcQ4/hqdefault.jpg?sqp=-oaymwEbCKgBEF5IVfKriqkDDggBFQAAiEIYAXABwAEG&amp;rs=AOn4CLCRIs6eFLuBLQ7wdhSsnQw2C3txvA">
            </div>
            <div class="thongtinvideo">
                <div class="tieude">
                    <a href="/watch?v=HJENHdKTEd8">Tổng hợp những bản nhạc EDM gây nghiện</a>
                </div>
                <div style="font-size: 12px; color: #858585;">
                    <span>HIEU DOLCE</span>
                </div>
                <div style="font-size: 14px; color: #818181;">
                    <span>12 Tr lượt xem</span>
                    &bull;
                    <span>5 tháng trước</span>
                </div>
            </div>
        </div>
        <div class="d-flex mb-2 videolienquan">
            <div class="anhvideo">
                <img alt="" style="background-color: transparent;" class="yt-core-image yt-core-image--fill-parent-height yt-core-image--fill-parent-width yt-core-image--content-mode-scale-aspect-fill yt-core-image--loaded" src="https://i.ytimg.com/vi/HXkh7EOqcQ4/hqdefault.jpg?sqp=-oaymwEbCKgBEF5IVfKriqkDDggBFQAAiEIYAXABwAEG&amp;rs=AOn4CLCRIs6eFLuBLQ7wdhSsnQw2C3txvA">
            </div>
            <div class="thongtinvideo">
                <div class="tieude">
                    <a href="/watch?v=HJENHdKTEd8">Tổng hợp những bản nhạc EDM gây nghiện</a>
                </div>
                <div style="font-size: 12px; color: #858585;">
                    <span>HIEU DOLCE</span>
                </div>
                <div style="font-size: 14px; color: #818181;">
                    <span>12 Tr lượt xem</span>
                    &bull;
                    <span>5 tháng trước</span>
                </div>
            </div>
        </div>
    </div>
</div>